/* google fonts used */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #FFE1EF;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    margin: 0;
    }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #003B4A;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #003B4A;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #FEB1DD;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px white;
}

header a {
    text-decoration: none;
}
/* styling the nav bar */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 3em;
    font-family: 'Montserrat', sans-serif;
}

nav a {
    text-decoration: none;
    color: #003B4A;
}

nav a:hover,
nav a:focus {
  color: #412234;
}

.active-page {
    border-bottom: 1px solid #412234;
}

/* footer */
/* .footer {
    background-color: #FEB1DD;
    padding: 0.8em 0;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.footer .row-footer {
    width:100%;
    margin:1% 0%;
    padding: 0.8em 0;
    color: #003B4A;
    font-size:1em;
}

.footer .row-footer a {
    text-decoration:none;
    color: #003B4A;
    transition:0.5s;
}
        
.footer .row-footer a:hover {
    color: #412234;
}
        
.footer .row-footer ul {
    width: 90%;
}
        
.footer .row-footer ul li {
    display:inline-block;
    margin:0px 30px;
}
        
.footer .row-footer a i {
    font-size:2em;
    margin:0% 1%;
} */

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

.footer ul {
	list-style: none;
    padding: 0;
    color: #003B4A;
}

.footer {
	background-color: #FEB1DD;
    padding: 50px 0;
}

.footer-col {
    width: 30%;
    padding: 0 15px;
 }

 .footer-col h4 {
	font-size: 22px;
	color: #003B4A;
	text-transform: inherit;
	margin-bottom: 10px;
	font-weight: bold;
	position: relative;
}

.footer-col ul li {
	font-size: 16px;
	text-transform: inherit;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #003B4A; 
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: white;
}

/* Hero image */  
.hero {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url("../images/hero-image.webp");
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
      
.hero-text {
    font-size: 90%;
    text-transform: uppercase;
    text-align: center;
    width: 350px;
    height: 250px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(254, 177, 221, .7);
    position: absolute;
}

.hero-text h2, .hero-text h3 {
    font-size: 200%;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #003B4A;
}

.hero-button {
    background-color: #003B4A;
    color: #FEB1DD;
    border-radius: 2px;
    text-align: center;
    font-size: 150%;
    border-color: #FEB1DD;
    padding: 15px 32px 15px 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-button:hover {
    background-color: #FEB1DD;
    color: #003B4A;
}

/* Contact us form */
.contact-form-section {
    height: 900px;
    margin-top: 100px;
}

.signup-form {
    margin: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.9);
    max-width: 800px;
    position: absolute;
    left: 10%;
    right: 10%;
    padding: 30px;
    display: block;
}

.signup-form h2 {
    color: #FEB1DD;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #FEB1DD;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #FEB1DD;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #FEB1DD;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    background-color: #FEB1DD;
    color: #003B4A;
    display: block;
    border-color: #FEB1DD;
    
}

.join-button:hover {
    background-color: #003B4A;
    color: #FEB1DD;
}

/* Photo gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .gallery-all h2 {
    text-transform: uppercase;
    text-align: center;
}

.gallery img {
    width: 90%;
    height: 150px; 
    padding: 10px;
   
    border: 1px solid #ddd;
    background: #FFE1EF;
   
    object-fit: contain;
    position: relative;
  }

  .gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    transition: transform ease 0.5s;
  }

/* Types of cakes section */
.team-container {
    width:90%;
    height: auto;
}

.text {
    color: #003B4A;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.row {
    width: 90%;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.profile-card {
    background-color: #ffffff;
    width: 270px;
    height:300px;
    margin: 20px 10px 10px 10px;
}

.profile-content {
    padding:15px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.profile-image, .desc {
    text-align: center;
}

.desc h2 {
    color: #003B4A;
    font-size: 20px;
}

.desc p {
    font-size: 13px;
    line-height: 1.3em;
    margin-top: -10px;
    color: #003B4A;
}

.btn-div {
    text-align: center;
}

.btn {
    background-color: #003B4A;
    color: #FFE1EF;
    width: 150px;
    cursor: pointer;
    height: 60px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

/*flavours section*/
.main-content-container {
    background-color: #fff;
    margin: 20px 40px 40px 40px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }

  .container-text {
    display: flex;
    flex-direction: column;
    background-color: #FEB1DD;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    color: #fff;
    z-index: 20;
    margin-left: 50px;
  }
  
  .container-text p, .container-text ul {
    color: #003B4A;
  }
  #flavour-image {
    width: 40%;
    height: 300px;
    background: url("../images/birthday/birthday-cake-six.jpg") no-repeat center / cover;
    margin-left: -20px;
    border-radius: 350px;
    z-index: 1;
  }

  #flavours-text {
    width: 100%;
    margin-right: 50px;
  }

/* About us section */
.about-us {
    height: auto;
}

.about-background {
    margin: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.9);
    max-width: 800px;
    position: absolute;
    left: 10%;
    right: 10%;
    padding: 30px;
    display: block;
}

.about-background h2 {
    color: #FEB1DD;
    margin-bottom: 20px;
}

/*Text of the hero image */
.call-to-action {
    font-size: 130%;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    background-color: #FEB1DD;
    color: #003B4A;
    display: block;
    border-color: #FEB1DD;
}

.join-button:hover {
    background-color: #003B4A;
    color: #FEB1DD;
}

/* 404 error page */




/* Media Queries for Header */
@media (max-width: 640px) {
    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }

    /* .footer{
    text-align:center;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:center;
    }
    .footer .row a i{
    margin:0% 3%;
    } */

    .footer-col {
        width: 100%;
    }

    .gallery {
    grid-template-columns: repeat(2, 1fr);
    }
    
    #flavour-image {
        background-image: none;
        width: 0;
    }

    .hero {
        height: 130vh;
    }
  }
  
  