/* google fonts used */
@import url('https://fonts.googleapis.com/css2family=Hind:wght@300&family=Montserrat:wght@300&display=swap');

body {
    background-color: #FFE1EF;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #003B4A;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #003B4A;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #FEB1DD;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px white;
}

header a {
    text-decoration: none;
}
/* styling the nav bar */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 3em;
    font-family: 'Montserrat', sans-serif;
}

nav a {
    text-decoration: none;
    color: #003B4A;
}

nav a:hover,
nav a:focus {
  color: #412234;
}

.active-page {
    border-bottom: 1px solid #412234;
}

/* footer */
.footer {
    background-color: #FEB1DD;
    padding: 0.8em 0;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.footer .row{
    width:90%;
    margin:1% 0%;
    padding: 0.8em 0;
    color: #003B4A;
    font-size:1em;
}

.footer .row a {
    text-decoration:none;
    color: #003B4A;
    transition:0.5s;
}
        
.footer .row a:hover{
    color: #412234;
}
        
.footer .row ul{
    width:90%;
}
        
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
        
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

/* Hero image */  
.hero {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url("../images/hero_image.jpg");;
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
      
.text {
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

/* Contact us form */
.contact-form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.9);
    max-width: 800px;
    position: absolute;
    left: 10%;
    padding: 30px;
}


.signup-form h2 {
    color: #FEB1DD;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #FEB1DD;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #FEB1DD;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #FEB1DD;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    background-color: #003B4A;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #FEB1DD;
    color: black;
}

body{
    margin:0;
    overflow-x:hidden;
    }
    
/* Photo gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  
.gallery img {
    width: 100%;
    height: 150px; 
    padding: 10px;
   
    border: 1px solid #ddd;
    background: #FFE1EF;
   
    object-fit: contain;
    position: relative;
  }

  .gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    transition: transform ease 0.5s;
  }

/* Media Queries for Header */
@media (max-width: 640px) {
    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }

    .footer{
    text-align:center;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:center;
    }
    .footer .row a i{
    margin:0% 3%;
    }

    .gallery {
    grid-template-columns: repeat(2, 1fr);
    }
  }
  